<div style="display: flex; margin-top: 3%; justify-content: center">
  <div
    style="
      background-color: rgba(255, 255, 255, 0.747);
      box-shadow: -5px 6px 15px 0px rgba(255, 241, 241, 0.753);
      border-radius: 1rem;
    "
  >
    <mat-stepper
      [linear]="isLinear"
      #stepper
      style="background-color: transparent"
    >
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field style="display: flex">
            <mat-label>Username</mat-label>
            <input
              matInput
              #typeUsername
              formControlName="UsernameValidator"
              placeholder="abc123"
              required
            />
          </mat-form-field>
          <label id="example-radio-group-label">Pick type of user</label>
          <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="User_type"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-radio-button
              class="example-radio-button"
              *ngFor="let User of User_types"
              [value]="User"
            >
              {{ User }}
            </mat-radio-button>
          </mat-radio-group>
          <div style="display: flex; justify-content: center">
            <button mat-raised-button matStepperNext style="opacity: 0.75">
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" label="Fill email & verify">
        <form [formGroup]="secondFormGroup">
          <mat-form-field style="display: flex; margin-bottom: -4%">
            <mat-label>Email</mat-label>
            <input
              matInput
              #typeEmail
              formControlName="Email"
              [disabled]="isInputDisabled"
              placeholder="abc123@example.com"
            />
          </mat-form-field>
          <mat-form-field style="display: flex" *ngIf="send">
            <mat-label>Verification code</mat-label>
            <input
              matInput
              placeholder="123456"
              type="number"
              formControlName="Verification_code"
              required
            />
          </mat-form-field>
          <div
            style="display: flex; justify-content: center; margin-top: 15px"
            *ngIf="!send"
          >
            <button mat-raised-button (click)="sendmail(typeEmail.value)">
              Send
            </button>
          </div>
          <div
            style="display: flex; justify-content: center; margin-top: 15px"
            *ngIf="send"
          >
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <ng-template matStepLabel>Personal Details</ng-template>
        <form [formGroup]="thirdFormGroup">
          <mat-form-field style="display: flex; margin-bottom: -4%">
            <mat-label>First Name</mat-label>
            <input
              matInput
              #typeFirstName
              formControlName="firstCtrl"
              placeholder="Joe"
              required
            />
          </mat-form-field>
          <mat-form-field style="display: flex; margin-bottom: -4%">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              #typeLastName
              formControlName="lastCtrl"
              placeholder="xyz"
              required
            />
          </mat-form-field>
          <mat-form-field style="display: flex; margin-bottom: -4%">
            <mat-label>Phone number</mat-label>
            <input
              matInput
              #typeNumber
              type="number"
              formControlName="number"
              placeholder="91*******3"
              required
            />
          </mat-form-field>
          <mat-form-field style="display: flex; margin-bottom: -4%">
            <mat-label>Password</mat-label>
            <input
              matInput
              #typePassword
              formControlName="password"
              placeholder="********"
              required
              type="password"
            />
          </mat-form-field>
          <mat-form-field style="display: flex">
            <mat-label> Repeat Password</mat-label>
            <input
              matInput
              #typeRepeatPassword
              placeholder="********"
              formControlName="repeatPassword"
              required
              type="password"
              (input)="passwordcheck(typePassword.value, typeRepeatPassword.value)"
            />
            <mat-error *ngIf="!repeatPasswordcheck">
              password does not match
            </mat-error>
          </mat-form-field>
          <div style="display: flex; justify-content: center">
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="fourthFormGroup">
        <ng-template matStepLabel>Address</ng-template>
        <form [formGroup]="fourthFormGroup">
          <mat-form-field style="display: flex; margin-bottom: -4%">
            <mat-label>Building No.</mat-label>
            <input
              matInput
              #typeBuilding_No
              formControlName="buildingnumber"
              placeholder="C-1"
              required
            />
          </mat-form-field>
          <mat-form-field style="display: flex; margin-bottom: -4%">
            <mat-label>Street Address</mat-label>
            <input
              matInput
              #typeStreetAddress
              formControlName="street"
              placeholder="wall street"
              required
            />
          </mat-form-field>
          <mat-form-field style="display: flex; margin-bottom: -4%">
            <mat-label>City</mat-label>
            <input
              matInput
              #typeCity
              formControlName="city"
              placeholder="ahmadabad"
              required
            />
          </mat-form-field>
          <mat-form-field style="display: flex; margin-bottom: -4%">
            <mat-label>State</mat-label>
            <input
              matInput
              #typeState
              placeholder="gujarat"
              formControlName="state"
              required
            />
          </mat-form-field>
          <mat-form-field style="display: flex; margin-bottom: -4%">
            <mat-label>Country</mat-label>
            <input
              matInput
              #typeCountry
              placeholder="india"
              formControlName="country"
              required
              type="text"
            />
          </mat-form-field>
          <mat-form-field style="display: flex; margin-bottom: -2%">
            <mat-label>Pincode</mat-label>
            <input
              matInput
              #typePincode
              formControlName="pincode"
              type="number"
              placeholder="380001"
              required
            />
          </mat-form-field>
          <div style="display: flex; justify-content: center">
            <button
              mat-raised-button
              (click)=
              "
                open(
                  typeUsername.value,
                  typeFirstName.value,
                  typeLastName.value,
                  typeNumber.value,
                  typeBuilding_No.value,
                  typeStreetAddress.value,
                  typeCity.value,
                  typeState.value,
                  typeCountry.value,
                  typePincode.value
                )
              "
            >
              Submit
            </button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</div>
