/* .form-check{
    display: flex;
    justify-content: flex-start;
    padding: 0.6%;
    padding-left: 5%;
}

.form-check label{
    padding-left: 1%;
} */

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  